<link rel="stylesheet" href="public/css/main.css">
<div class="navbar navbar-fixed-top navbar-custom justify-content-center ">
    <nav class="nav justify-content-center" id="navbarhover">
        <a class="button<% if (active === 'home'){%>-disabled<%}%>"  href="/">Home</a>
        <a class="button<% if (active === 'study'){%>-disabled<%}%>" id="abutton" href="/study">Study</a>
        <a class="button<% if (active === 'about'){%>-disabled<%}%>" id="abutton" href="/about">About</a>
        <a class="button<% if (active === 'register'){%>-disabled<%}%>" id="abutton" href="/register">Registration</a>
        <a class="button<% if (active === 'login'){%>-disabled<%}%>" id="abutton" href="/login">Login</a>
    </nav>
</div>