body {
    background: #ececec;
}
form {
    width: 60%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
    display: block;
    position: relative;
    margin: 40px 0px;
}
.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
}
.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}
.line-box-active {
    position: relative;
    width: 100%;
    height: 2px;
    background: #ff0000;
}
.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #71e0e0;
    transition: ease .6s;
}

.input:focus + .line-box .line {
    width: 100%;
}

.label-active {
    top: -3em;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

.button:hover {
    text-decoration: none;
    background: #7bffff;
    color: #ffffff;
}
.button-disabled{
    -webkit-box-shadow: -2px 1px 20px 1px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: -2px 1px 20px 1px rgba(34, 60, 80, 0.2) inset;
    box-shadow: -2px 1px 20px 1px rgba(34, 60, 80, 0.2) inset;
    display: inline-block;
    padding: 12px 24px;
    background: #7bffff;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}
.error {
    text-align: center;
    font-family: sans-serif;
    width: 770px;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
}
#navbarhover {
    -webkit-box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
    border-radius: 8px 8px 8px 8px;
    background-color: #93f1e7;
}